@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

nav {
    background-color: #1a1a1a;
     min-height: 10vh;
     /* background-color: rgba(0,0,0,.5); */
 }

 section {
    padding-top: 20vh;
    min-height: 100vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
 }


 .black-overlay {
    background-color: rgba(0,0,0,0.4);
}


 .displayNone {
     display: none;
 }

 h1 {
     font-size: 1.4em;
 }

 h2 {
    font-family: 'Fira Code', monospace;
    margin-bottom: 1em;
 }

 .navbar-dark .navbar-nav .nav-link {
     color: white;
     font-family: 'Fira Code', monospace;
     font-size: 1.25rem;
 }


 .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
     color: #4494c9;
 }

 

 .blue {
    background-color: #4494c9;
 }

 .Black {
    background-color: black;
 }

 .Black h2, .blue h2 {
     color: white;
 }

 .card {
     margin-bottom: 1em;
 }

 .card-title {
     text-align: center;
     font-weight: 400;
     font-size: 1em;
 }



.black {
    background-color: black;
}
.codeType {
    font-family: 'Fira Code', monospace;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
}